.menuItem {
    font-size: 1.2rem;
    cursor: pointer;
    padding: 3px;
    color: aliceblue;
    margin-left: 20px;
    transition: 0.3s;
}

.active {
    font-weight: bold;
    color: #36453B;
}

.active:hover {
    color: aquamarine;
}
@media screen and (max-width: 768px) {
    .menuItem {
        font-size: 1rem;
        padding: 2px;
        margin-right: 20px;
    }
}