.cities {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.city {
    color: bisque;
    font-size: 1.2rem;
    display: flex;
}

a {
    color: bisque;
    text-decoration: none;
}
.active {
    font-weight: bold;
    color: #ff6347; /* Add any styling for the active state */
  }

@media screen and (max-width:768px) {
    .cities {
        display: none;
    }
}