.header {
    background-color:#261C15;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    position: sticky;
    top: 0;
}

@media screen and (max-width:768px) {
    .header {
        background-color: #261C15;
        padding: 0;
        justify-content: space-between;
    }
}