.mainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .containerBox {
    grid-column: span 3;
  }
  
  .buildingsBox {
    grid-column: span 3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  @media screen and (max-width:768px) {
    .gridContainer {
        display: block;
        padding: 0;
    }
    
  }
  